<header class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper container">
	      <a [routerLink]="'/'" class="brand-logo"><img src="/assets/images/logo-small-white.png" alt="SWpaedia"></a>
	      <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a [routerLink]="'/films'">Films</a></li>
	        <li><a [routerLink]="'/characters'">Characters</a></li>
	        <li><a [routerLink]="'/planets'">Planets</a></li>
	        <li><a [routerLink]="'/species'">Species</a></li>
	        <li><a [routerLink]="'/starships'">Starships</a></li>
	        <li><a [routerLink]="'/vehicles'">Vehicles</a></li>
			<li><a class="dropdown-button" data-activates="theme-selector"><i class="material-icons">settings</i></a></li>
	      </ul>
	      <ul id="nav-mobile" class="side-nav">
	        <li><a [routerLink]="'/films'">Films</a></li>
	        <li><a [routerLink]="'/characters'">Characters</a></li>
	        <li><a [routerLink]="'/planets'">Planets</a></li>
	        <li><a [routerLink]="'/species'">Species</a></li>
	        <li><a [routerLink]="'/starships'">Starships</a></li>
	        <li><a [routerLink]="'/vehicles'">Vehicles</a></li>
	      </ul>
	      <ul id="theme-selector" class="dropdown-content">
	        <li>Select a theme</li>
	        <li>
				<form action="#">
				    <p>
				      <input name="theme-selector" (click)="setTheme('jedi');" type="radio" id="theme-selector-jedi" value="jedi" checked/>
				      <label for="theme-selector-jedi">Jedi</label>
				    </p>
				    <p>
				      <input name="theme-selector" (click)="setTheme('sith');" type="radio" id="theme-selector-sith" value="sith"/>
				      <label for="theme-selector-sith">Sith</label>
				    </p>
				</form>
	        </li>
	      </ul>
	    </div>
  	</nav>
</header>