<header>
	<nav>
	    <div class="nav-wrapper container">
	      <a [routerLink]="'/'" class="brand-logo"><img src="/assets/images/logo-small-white.png" alt="SWpaedia"></a>
	      <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a [routerLink]="'/films'">Films</a></li>
	        <li><a [routerLink]="'/characters'">Characters</a></li>
	        <li><a [routerLink]="'/planets'">Planets</a></li>
	        <li><a [routerLink]="'/species'">Species</a></li>
	        <li><a [routerLink]="'/starships'">Starships</a></li>
	        <li><a [routerLink]="'/vehicles'">Vehicles</a></li>
	      </ul>
	      <ul id="nav-mobile" class="side-nav">
	        <li><a [routerLink]="'/films'">Films</a></li>
	        <li><a [routerLink]="'/characters'">Characters</a></li>
	        <li><a [routerLink]="'/planets'">Planets</a></li>
	        <li><a [routerLink]="'/species'">Species</a></li>
	        <li><a [routerLink]="'/starships'">Starships</a></li>
	        <li><a [routerLink]="'/vehicles'">Vehicles</a></li>
	      </ul>
	    </div>
  	</nav>
</header>