<header>
	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">SWpaedia</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/films">Films</a></li>
	        <li><a href="/characters">Characters</a></li>
	        <li><a href="/planets">Planets</a></li>
	        <li><a href="/species">Species</a></li>
	        <li><a href="/starships">Starships</a></li>
	        <li><a href="/vehicles">Vehicles</a></li>
	      </ul>
	    </div>
  	</nav>
</header>