.mg-top {
	margin-top: 45px;
}

.mg-bottom {
	margin-bottom: 45px;
}

.end-icon img {
	width: 60px;
	height: 60px;
}

input, input::placeholder, .input-field i {
	color: grey;
}

nav {
	margin-bottom: 30px;
}